.box{
    width: 270px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
   
}
h3,p{
    text-align: center;
}
.li{
   width: 100%;
   margin-left: 5px;
}

